[submodule "repos/video-on-move"]
	path = repos/video-on-move
	url = git@github.com:starakaj/video-on-move.git
[submodule "repos/rainbow-looper"]
	path = repos/rainbow-looper
	url = git@github.com:KBLiveSolutions/rainbow-looper.git
